.app {
  display: grid;
  grid-template-areas: "sidebar  add-tasks-container task-info-container";
}
.sidebar {
  grid-area: sidebar;
}
.add-tasks-container {
  grid-area: add-tasks-container;
}
.task-info-container {
  grid-area: task-info-container;
}
